{# View du formulaire d'Inscription #}

{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}

{{ form_start(form) }}
<div class="formulaire">
{{ form_row(form.username, {'label':'Nom d\'Utilisateur'}) }}
{{ form_row(form.password, {'label':'Mot de Passe'}) }}
<div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
    <label class="form-check-label" for="exampleCheck1">En cochant cette case je certifie avoir lu et accepté les CGU </label>
</div>

    <button  type="submit" class="btn-sucess">Inscription</button>
{{ form_end(form) }}

{% endblock %}
